@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> UserName : @Accessor.HttpContext.Session.GetString("Cust_Name") </p>

    @* <a class="btn btn-link" asp-action="AdminIndex" asp-controller="Admin">Click me</a> *@
</div>
